<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="ink.onei.entity.User">
        <property name="id" value="1"/>
        <property name="username" value="onei"/>
        <property name="password" value="onei"/>
        <property name="email" value="onei@onei.one"/>
        <property name="sex" value="female"/>
        <!--  @formatter:off  -->
        <property name="nickname"><null/></property>
        <property name="phone"><null/></property>
        <property name="birthday"><null/></property>
        <property name="createdate"><null/></property>
        <!--  @formatter:on  -->
    </bean>
    <bean id="userDao" class="ink.onei.dao.UserDao">
        <property name="user" ref="user"/>
    </bean>

    <!--  UserService类中的UserDao对象通过@Setter添加了setter方法  -->
    <!--  通过setter方法将UserDao对象注入给userDao方法  -->
    <!--    <bean id="userService" class="ink.onei.service.UserService">-->
    <!--        <property name="userDao" ref="userDao"/>-->
    <!--    </bean>-->

    <!--  通过构造方法注入  -->
    <!--  UserService类中添加了注入UserDao的构造方法  -->
    <bean id="userService" class="ink.onei.service.UserService" init-method="init" destroy-method="destroy">
        <constructor-arg ref="userDao"/>
    </bean>
</beans>