/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&diasply=swap'); */
/*引用谷歌字体*/
@import './google-font.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0faff;
}

.wrapper {
    position: relative;
    max-width: 470px;
    height: 540px;
    width: 100%;
    border-radius: 12px;
    padding: 20px 30px 120px;
    background-color: #4070f4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form header {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.form.login header {
    color: #333;
    opacity: 0.6;
}

.form.login {
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(-50%);
    width: calc(100% + 220px);
    padding: 20px 140px;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.6s ease;
}

.wrapper.active .form.login {
    bottom: -8%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 35%;
}

.wrapper .info {
    background-color: #fff;
    bottom: -15%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 35%;
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(-50%);
    width: calc(100% + 220px);
    padding: 20px 140px;
    height: 100%;
}

.wrapper.active .form.login header {
    opacity: 1;
}

.wrapper.active .form.signup header {
    opacity: 0.6;
}

.wrapper .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.form input,
.btn {
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
}

.form.login input {
    border: 1px solid #aaa;
}

.form.login input:focus {
    box-shadow: 0 1px 0 #ddd;
}

.captcha {
    display: flex;
    justify-content: center;
    align-items: center;
}

#captcha {
    width: 260px;
    display: inline-block;
}

.form .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #fff;
    cursor: pointer;
}

.form .checkbox label {
    color: #fff;
    cursor: pointer;
}

.form a {
    color: #333;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.btn {
    margin-top: 15px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.login .btn, .del-btn {
    background-color: #4070f4;
    color: #fff;
    border: none;
}

.container {
    width: 88vw;
    height: 600px;
    border-radius: 12px;
    background-color: #4070f4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 10px;
    color: white;
    text-align: center;
}

.fixed > td {
    color: white;
}

.name {
    padding-left: 80px;
}

.sex {
    padding-left: 80px;
}

.email {
    padding-left: 80px;
}

.tel {
    padding-left: 160px;
}

.birthday {
    padding-left: 140px;
}

.nickname {
    padding-left: 160px;
}

.createdate {
    padding-left: 120px;
}

.info {
    margin: 0 auto;
    width: 100%;
    height: 90%;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

table {
    height: fit-content;
    width: fit-content;
    border-collapse: collapse;
    border-spacing: 0;
}

tr,
td {
    margin: 0;
    border: 1px solid #4070f4;
    font-size: 16px;
}

td {
    padding: 10px 20px;
}

.del-btn {
    font-size: 14px;
    border-radius: 5px;
    padding: 0;
    width: 60px;
    height: 40px;
}