<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.onei.mapper.IGoodsMapper">

    <select id="getGoodsById" parameterType="integer" resultType="Goods">
        select *
        from shop_goods
        where id = #{id}
    </select>

    <select id="getAllGoods" resultType="Goods">
        select * from shop_goods
    </select>
</mapper>