<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace 是用于调用的时候的映射
 -->
<mapper namespace="ink.onei.shopping.mapper.IUserMapper">

    <resultMap id="UserDetailMap" type="UserDetailVO" autoMapping="true">
            <id column="id" property="id"/>
            <collection property="orderVOList" ofType="ink.onei.shopping.vo.OrderVO" javaType="list">
                <id column="oid" property="id"/>
                <result column="order_name" property="orderName"/>
                <result column="order_describe" property="orderDescribe"/>
                <result column="order_time" property="orderTime"/>
                <result column="user_id" property="userId"/>
                <collection property="goodsVOList" ofType="ink.onei.shopping.vo.GoodsVO" javaType="list" autoMapping="true">
                    <id column="gid" property="id"/>
                    <result column="goods_name" property="goodsName"/>
                    <result column="goods_price" property="goodsPrice"/>
                    <result column="goods_describe" property="goodsDescribe"/>
                    <result column="good_num" property="goodsNum"/>
                </collection>
            </collection>
    </resultMap>

    <select id="getUserList" parameterType="integer" resultType="ink.onei.shopping.entity.User">
        select * from shop_user limit #{pageNum},#{pageSize}
    </select>

    <select id="getUserDetails" parameterType="list" resultMap="UserDetailMap">
        select
        su.*,so.*,sog.good_num,sg.*,so.id as oid,sg.id as gid
        from shop_user as su
        left join shop_order as so on so.user_id=su.id
        left join shop_order_goods as sog on so.id=sog.order_id
        left join shop_goods as sg on sog.goods_id=sg.id
        where su.id in
            <foreach collection="idList" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        order by su.id
    </select>

</mapper>