<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.onei.mapper.IOrderMapper">
    <select id="getOrderById" parameterType="integer" resultType="Order">
        select *
        from shop_order
        where id = #{id}
    </select>

    <select id="getOrderByUserId" resultType="Order">
        select *
        from shop_order
        where user_id = #{userId}
    </select>

    <select id="getAllOrders" resultType="Order">
        select *
        from shop_order
    </select>

    <resultMap id="OrderDetailMap" type="OrderDetailDTO" autoMapping="true">
        <id column="bid" property="id"/>
        <result column="username" property="username"/>
        <collection property="orderGoods" javaType="list" ofType="OrderGoods" column="id" autoMapping="true">
            <id column="cid" property="id"/>
            <id column="good_num" property="goodNum"/>
        </collection>
        <collection property="goodsList" ofType="Goods" column="id" javaType="list" autoMapping="true">
            <id column="did" property="id"/>
            <id column="goods_name" property="goodNames"/>
        </collection>
    </resultMap>

    <select id="getOrderDetailByOrderId" resultMap="OrderDetailMap">
        SELECT a.*, b.*, b.id as 'bid', d.id as 'did', d.goods_name, c.good_num,c.order_id as 'cid'
        FROM shop_order a
                 LEFT JOIN shop_user b ON a.user_id = b.id
                 LEFT JOIN shop_order_goods c ON a.id = c.order_id
                 LEFT JOIN shop_goods d ON c.goods_id = d.id
        WHERE a.id = #{orderId};
    </select>
</mapper>