<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.onei.dao.IAddressDao">
    <!--  地址-用户 一对一关系 Mapper  -->
    <resultMap id="AddressAndUserMap" type="AddressAndUserVO" autoMapping="true">
        <id column="id" property="id"/>
        <association property="user"
                     column="userid"
                     javaType="User"
                     select="ink.onei.dao.IUserDao.getUserById"/>
    </resultMap>

    <!--  地址-用户 一对一关系 Mapper 使用连接语句 -->
    <resultMap id="AddressUserMapWithJoin" type="AddressAndUserVO" autoMapping="true">
        <id column="id" property="id"/>
        <association property="user" javaType="User" column="userid" autoMapping="true">
            <id column="uid" property="id"/>
        </association>
    </resultMap>

    <insert id="insert" parameterType="Address">
        insert into address(address, postcode, userid)
        values (#{address},
                #{postcode},
                #{userid})
    </insert>

    <insert id="insertBatch" parameterType="Address">
        insert into address(address, postcode, userid) values
        <foreach collection="list" item="address" separator=",">
            (#{address.address},#{address.postcode},#{address.userid})
        </foreach>
    </insert>

    <update id="updateAddressById" parameterType="Address">
        update address
        set address  = #{address},
            postcode = #{postcode},
            userid   = #{userid}
        where id = #{id}
    </update>

    <update id="updateAddressDynamic">
        update address
        <!--  @formatter:off  -->
        <set>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="postcode != null and postcode != ''">postcode = #{postcode},</if>
            <if test="userid != null and userid != ''">userid = #{userid},</if>
        </set>
        <!--  @formatter:on  -->
        where id = #{id}
    </update>

    <delete id="deleteAddressById" parameterType="integer">
        delete
        from address
        where id in ${id}
    </delete>

    <delete id="deleteBatch" parameterType="List">
        delete from address where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            ${id}
        </foreach>
    </delete>

    <select id="getAddressById" parameterType="integer" resultType="Address">
        select *
        from address
        where id = #{id}
    </select>

    <select id="getAddressDynamic" resultType="Address">
        select * from address
        <!--    @formatter:off    -->
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="address != null and address != ''">and address = #{address}</if>
            <if test="postcode != null and postcode != ''">and postcode = #{postcode}</if>
            <if test="userid != null and userid != ''">and userid = #{userid}</if>
        </where>
        <!--    @formatter:on    -->
    </select>

    <select id="getAllAddress" resultType="Address">
        select *
        from address
    </select>

    <select id="getAddressByUserid" parameterType="integer" resultType="Address">
        select *
        from address
        where userid = #{userid}
    </select>

    <select id="AddrAndUserVo" parameterType="integer" resultMap="AddressAndUserMap">
        select *
        from address
        where id = #{id}
    </select>

    <select id="AddrAndUserVoTwo" resultMap="AddressUserMapWithJoin">
        select a.*,u.id as uid,u.*
        from address a
                 left join user u on a.userid = u.id
        where u.id = #{id}
    </select>
</mapper>