<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.onei.dao.IAddressDao">
    <insert id="add" parameterType="Address">
        insert into address(address, postcode, userid)
        values (#{address},
                #{postcode},
                #{userid})
    </insert>

    <update id="updateAddressById" parameterType="Address">
        update address
        set address  = #{address},
            postcode = #{postcode},
            userid   = #{userid}
        where id = #{id}
    </update>
    <delete id="deleteAddressById" parameterType="java.lang.Integer">
    </delete>
    <select id="getAddressById" parameterType="int" resultType="Address">
        select *
        from address
        where id = #{id}
    </select>

    <select id="getAllAddress" resultType="Address">
        select *
        from address
    </select>
</mapper>