<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://D:/归档/Springlib/commons-logging-1.2-javadoc.jar!/" />
      <root url="jar://D:/归档/Springlib/commons-logging-1.2.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-beans-5.1.8.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-beans-5.1.8.RELEASE-sources.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-beans-5.1.8.RELEASE.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-context-5.1.8.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-context-5.1.8.RELEASE-sources.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-context-5.1.8.RELEASE.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-core-5.1.8.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-core-5.1.8.RELEASE-sources.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-core-5.1.8.RELEASE.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-expression-5.1.8.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-expression-5.1.8.RELEASE-sources.jar!/" />
      <root url="jar://D:/归档/Springlib/spring-expression-5.1.8.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>