<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>
<body>
<header th:replace="header"></header>
<table border="1" style="border-collapse: collapse">
    <thead><tr><td>编号</td><td>账号</td><td>密码</td><td>性别</td><td>电话</td><td>邮件</td><td>昵称</td><td>生日</td><td>创建时间</td></tr></thead>
    <tbody>
        <tr th:each="user,listInfo:${userList}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getSex()}"></td>
            <td th:text="${user.getPhone()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getNickname()}"></td>
            <td th:text="${#dates.format(user.getBirthday(),'MM/dd yyyy')}"></td>
            <td th:text="${#dates.format(user.getCreatedate(),'MM/dd yyyy HH:mm:ss')}"></td>
        </tr>
    </tbody>
</table>
<header th:replace="footer"></header>
</body>
</html>