<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ssm.mapper.StudentMapper">
    <insert id="save" parameterType="student">
        insert into manager.student values (default,#{name},#{age},#{sex})
    </insert>
    <select id="findAll" resultType="student">
        select * from manager.student
    </select>
</mapper>