<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.onei.dao.IUserDao">
    <insert id="insert">
    </insert>
    <update id="update">
    </update>
    <delete id="delete">
    </delete>
    <delete id="deleteBatch">
    </delete>
    <select id="getUserDynamic" resultType="User">
        SELECT * FROM shop_user
        <where>
            <!--  @formatter:off  -->
            <if test="id!=null and id !=''">and id = #{id}</if>
            <if test="username!=null and username !=''">and username = #{username}</if>
            <if test="password!=null and password !=''">and password = #{password}</if>
            <if test="nickname!=null and nickname !=''">and nickname = #{nickname}</if>
            <if test="sex!=null and sex !=''">and sex = #{sex}</if>
            <if test="age!=null and age !=''">and age = #{age}</if>
<!--  @formatter:on  -->
        </where>
    </select>

    <update id="updateUserDynamic" parameterType="User">
        update shop_user
        <set>
            <!--  @formatter:off  -->
            <if test="id!=null and id !=''">id = #{id},</if>
            <if test="username!=null and username !=''">username = #{username},</if>
            <if test="password!=null and password !=''">password = #{password},</if>
            <if test="nickname!=null and nickname !=''">nickname = #{nickname},</if>
            <if test="sex!=null and sex !=''">sex = #{sex},</if>
            <if test="age!=null and age !=''">age = #{age},</if>
            <if test="avatar!=null and avatar !=''">avatar = #{avatar},</if>
            <!--  @formatter:on  -->
        </set>
        where id = #{id}
    </update>
    <select id="getAllUsers" resultType="User">
        SELECT * FROM shop_user
    </select>
</mapper>