<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件查询</title>
</head>

<body>
<form action="add" method="post">
    <label for="name">姓名：</label>
    <input type="text" name="name" id="name">
    <label for="password">密码：</label>
    <input type="password" name="password" id="password" autocomplete="new-password">
    <label for="age">年龄：</label>
    <input type="number" name="age" id="age"><br>
    <label for="sex">性别：</label>
    <select name="sex" id="sex">
        <option value="男">男</option>
        <option value="女">女</option>
    </select>
    <label for="email">电子邮件：</label>
    <input type="email" name="email" id="email">
    <input type="submit" value="添加">
</form>

</body>
</html>