<meta charset="UTF-8">
<fieldset>
    <legend>用户信息</legend>
    <table border="1">
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
            <td>电子邮件</td>
            <td>日期</td>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.sex}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.date}"></td>
        </tr>
    </table>
</fieldset>